@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #00085E;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #00085E;
  color: var(--primary-color);
}

body {
  font-family: fantasy;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 8px;
  padding: 10px 15px;
  position: absolute;
  bottom: 150px;
}
.toggle:hover{
  box-shadow:0 0 20px #98FF00;
}
.toggle:focus {
  outline:none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0px solid #00FFFF;
  border-radius: 50%;
  padding: 10% 14%;
  box-shadow:0 0 25px #00FFFF,inset 0 0 15px #00FFFF8C;
}

.clock {
  position: relative;
  width: 220px;
  height: 200px;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 1s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
  height:35%;
  width:4px;
  border-radius: 3px;
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 55%;
  width:3px;
  border-radius: 2px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 80%;
  width:2px;
  background-color: #00FAFF;
  box-shadow:0 0 10px white;
}

.center-point {
  background-color: darkgreen;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: '';
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  margin-top:2rem;
  font-size: 45px;
  margin-bottom:0px !important;
}
.ampm{
  margin-top:2rem;
  margin-bottom:0px !important;
  font-size: 25px;
  color:#00FF28;
  font-family:"Roboto";
  text-shadow: 2px 2px 4px var(--primary-color);
  transition: all 0.5s ease-in;
}
.date {
  color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: cursive;
  transition: all 0.5s ease-in;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 14px;
  padding: 12px;
}
